<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-shopping-cart"></i>Advance Table </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th> &nbsp; </th>
                        <th> Nome </th>
                        <th> E-mail </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in viewModel.list">
                        <td>
                            <a ui-sref="customer.editBasicInformation({id: customer.id})"  class="btn btn-xs blue">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        <td> {{customer.name}} </td>
                        <td> {{customer.email}} </td>
                    </tr>
                </tbody>
            </table>
            <app-pagination total-items="200" items-per-page="10" ng-model="viewModel.currentPage"></app-pagination>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>