//## Main Layout CSS Builder

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all");

@import '../../global/_variables'; // global metronic framework variables
@import '../../global/components/_mixins'; // global metronic framework mixings

@import '_variables'; // theme level variables

@mixin reset-container() {    
  	> .container { 
    	width: 100%;
    	max-width: none !important;  
    	margin: 0 !important;  
	}
} 

@import '_print'; // print layout  

@import 'themes/default.scss';
@import '_header'; // page header
@import '_content'; // page consnde          
@import '_footer';   // page footer         

@import 'components/_sidebar';
 
@import '_theme-panel';  // theme customizer panel         

/***  
Page Loading      
***/   

.page-on-load {
	background: #fefefe;

	.page-header,
	.page-container,  
	.page-prefooter,
	.page-footer,
	> .clearfix {
		display: none;
		transition: all 2s;
	}
}