<div class="app-pagination">
<div class="info">Mostrando de {{showingFrom()}} até {{showingTo()}} de {{totalItems}} registros</div>
        <div class="detail">
            <div class="btn-group">
                <button ng-disabled="ngModel === 1"
                        ng-click="moveTo(1)"
                        type="button" 
                        class="btn btn-default">
                        <i class="fa fa-angle-double-left"></i></button>
                <button ng-disabled="ngModel === 1" 
                        ng-click="moveTo(ngModel - 1)"
                        type="button" 
                        class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                <button ng-repeat-start="page in pages" 
                        ng-repeat-end="" 
                        ng-click="moveTo(page)"
                        ng-disabled="ngModel === page"
                        ng-class="{blue: page === ngModel}"
                        type="button" 
                        class="btn btn-default">{{page}}</button>
                <button ng-disabled="ngModel === totalPages" 
                        ng-click="moveTo(ngModel + 1)"
                        type="button" 
                        class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                <button ng-disabled="ngModel === totalPages" 
                        ng-click="moveTo(totalPages)"
                        type="button" 
                        class="btn btn-default"><i class="fa fa-angle-double-right"></i></button>
            </div>
        </div>
</div>